body{
  background-image:url(vimages/WoK-wallpaper-2560x1600.jpg);
  background-size: auto; 
  font-family: 'Libre Caslon Text', serif;
 }
 h1{
  font-weight: bolder;
  margin:40px 40px;
  text-shadow: 0 0 4px rgb(2, 9, 37)
 }
h2{
  font-style: italic;
  font-size: larger;
  text-shadow: 0 0 4px rgb(2, 9, 37);
 }
h1, h2{
  text-align: center;
  color: goldenrod;
 }

#sorted{
  display: flex;
  flex-basis: 4;
}

#btn-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100px;
  filter: drop-shadow(0 0 2px rgb(3, 3, 0));
  margin: 2px;
}

#btn-container > .btn{
  margin: 5px;
  text-shadow: black;
}

#formContainer{
  display: flex;
  justify-content: center;
  margin: 25px;
}

#orderContainer{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 50%;
  margin: 30px;
}

#corruptedContainer{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 30px;
  flex-grow: 1;
}
#corruptedContainer >.card{
  background-image: url(vimages/corrupted.webp);
  box-shadow: 0 0 8px 8px rgb(0, 0, 0) inset;
  color: black;
}

#corruptedContainer > .card >img{
  filter: invert(1);
  filter: drop-shadow(0 0 5px rgb(16, 0, 44)); 
}
.card{
  text-align: center;
  font-weight: bold;
  color: azure;
  text-shadow: 0 0 3px black;
  height: 300px ;
  justify-content: space-around;
  border-radius: 50px;
  margin: 0 20px 40px 0;
  background: none;
  border: none;
  padding-left: none;
  padding-right: none;
}

#orderContainer > .card > img{
  filter: drop-shadow(0 0 14px rgb(255, 255, 223)); 
}

.btn-warning{
  width: 140px;
  margin: auto;
  margin-top: 0;
  border-radius: 25px;
}
.card-body{
  display: flex;
  flex-direction: column;
  height: 180px;
  padding: 5px;
}

img{
  height: 150px;
  width: 150px;
}
