body{
  background-image:url(vimages/WoK-wallpaper-2560x1600.jpg);
  background-size: auto; 
  font-family: 'Libre Caslon Text', serif;
 }
 h1{
  font-weight: bolder;
  margin:40px 40px;
  text-shadow: 0 0 4px rgb(2, 9, 37)
 }
 h2{
  font-style: italic;
  font-size: larger;
  text-shadow: 0 0 4px rgb(2, 9, 37);
 }
 h1, h2{
  text-align: center;
  color: goldenrod;
 }
#sorted{
  display: flex;
  flex-basis: 4;
}
#btn-container{
  display: grid;
  width: auto;
  margin: auto;
}
#formContainer{
  display: flex;
  justify-content: center;
}
#orderContainer{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 50%;
  margin: 30px;
}
#corruptedContainer{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 30px;
  flex-grow: 1;
}
#corruptedContainer >.card{
  background-color: purple ;
}
.card{
  text-align: center;
  height: 485px ;
  justify-content: space-around;
  border-radius: 50px;
}
.card-img-top{
  border-radius: 50px;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
img{
  height: 250px;
}
